    <!-- Sidebar -->
  <nav class="sidebar d-flex flex-column align-items-start">
  <a class="nav-link" href="{% url 'home' %}">
    <i class="bi bi-house-door-fill"></i>
    <span>Home</span>
  </a>
  <a class="nav-link" href="{% url 'user' %}">
    <i class="bi bi-person-fill"></i>
    <span>Profile</span>
  </a>
  <a class="nav-link" href="{% url 'settings' %}">
    <i class="bi bi-gear-fill"></i>
    <span>Settings</span>
  </a>
  <a class="nav-link" href="{% url 'logout' %}">
    <i class="bi bi-box-arrow-right"></i>
    <span>Logout</span>
  </a>
  </nav>